# SpaceX Falcon 9 first stage Landing Prediction: A Data Science Capstone Project

## Explanatory Data Analysis with SQL

In [43]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [44]:
import sqlite3, csv
import pandas as pd
con=sqlite3.connect("my_data1.db")
cur=con.cursor()

In [45]:
%sql sqlite:///my_data1.db

In [46]:
import pandas as pd
df=pd.read_csv("https://github.com/JayshreeMishra/Dataset_Data_Science_Project/raw/main/Spacex.csv")

In [47]:
# Load data into SQLite, replacing existing table if it exists
df.to_sql(
    name="SPACEXTBL",    # Table name in SQLite database
    con=con,             # SQLite database connection object
    if_exists='replace', # Replace the table if it exists
    index=False,         # Do not include DataFrame index as a column
    method="multi"       # Use the "multiple insert" method for efficiency
)

101

In [48]:
# remove blank rows from table
%sql create table SPACEXTBL as SELECT * from SPACEXTBL where data is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTBL already exists
[SQL: create table SPACEXTBL as SELECT * from SPACEXTBL where data is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [49]:
#unique launch sites in the space mission
%sql select distinct "Launch_Site" from SPACEXTBL

 * sqlite:///my_data1.db
Done.

KeyError: 'DEFAULT'

In [26]:
# Safeguard: Check if result is not None
if result:
    # Create a PrettyTable object and display the results
    table = PrettyTable()
    table.field_names = result.keys  # Set column names
    for row in result:
        table.add_row(row)
    print(table)
else:
    print("No data found or the query failed.")

No data found or the query failed.

In [27]:
#records where launch sites begin with the string CCA
%sql select * from SPACEXTBL where Launch_site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select * from SPACEXTBL where Launch_site LIKE 'CCA%' LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [28]:
#total payload mass carried by boosters launched by NASA (CRS)
%sql select SUM(PAYLOAD_MASS__KG_) as 'Total Payload Mass(Kgs)', Customer from SPACEXTBL Where Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select SUM(PAYLOAD_MASS__KG_) as 'Total Payload Mass(Kgs)' , Customer from SPACEXTBL Where Customer = 'NASA (CRS)']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
# average payload mass carried by booster version F9 v1.1
%sql select AVG(PAYLOAD_MASS__KG_) as 'Avg Payload Mass(Kg)', Booster_Version from SPACEXTBL where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select AVG(PAYLOAD_MASS__KG_) as 'Avg Payload Mass(Kg)' , Booster_Version from SPACEXTBL where Booster_Version = 'F9 v1.1']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [30]:
# date when the first succesful landing outcome in ground pad was acheived.
%sql SELECT MIN(Date) as 'First_Successful_Ground_Landing' from SPACEXTBL WHERE Landing_Outcome= 'Success (ground pad)';

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: SELECT MIN(Date) as 'First_Successful_Ground_Landing' from SPACEXTBL WHERE Landing_Outcome= 'Success (ground pad)' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
# names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
%sql select DISTINCT Booster_Version, Landing_Outcome from SPACEXTBL where Landing_Outcome='Success (drone ship)' AND 4000<PAYLOAD_MASS__KG_<6000

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select DISTINCT Booster_Version, Landing_Outcome from SPACEXTBL where Landing_Outcome='Success (drone ship)' AND 4000<PAYLOAD_MASS__KG_<6000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [32]:
# total number of successful and failure mission outcomes
%sql select Mission_Outcome, COUNT(Mission_Outcome) as 'Total_Landings'  from SPACEXTBL GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select Mission_Outcome, COUNT(Mission_Outcome) as 'Total_Landings' from SPACEXTBL GROUP BY Mission_Outcome]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
#names of the booster_versions which have carried the maximum payload mass
%sql select (Booster_Version), Payload, PAYLOAD_MASS__KG_ as 'Max_Payload_Mass' from SPACEXTBL where PAYLOAD_MASS__KG_=(select MAX(PAYLOAD_MASS__KG_) from SPACEXTBL)

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select (Booster_Version), Payload, PAYLOAD_MASS__KG_ as 'Max_Payload_Mass' from SPACEXTBL where PAYLOAD_MASS__KG_=(select MAX(PAYLOAD_MASS__KG_) from SPACEXTBL)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
%sql select Launch_Site, Booster_Version, Landing_Outcome, substr(Date, 6,2) as 'Month', substr(Date,0,5) as 'Year' from SPACEXTBL where substr(Date,0,5)='2015' and Landing_Outcome= 'Failure (drone ship)'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select Launch_Site, Booster_Version, Landing_Outcome, substr(Date, 6,2) as 'Month' , substr(Date,0,5) as 'Year' from SPACEXTBL where substr(Date,0,5)='2015' and Landing_Outcome= 'Failure (drone ship)']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [35]:
# count of landing outcomes between the date 2010-06-04 and 2017-03-20, in descending order
%sql select COUNT(*) as Count, Landing_Outcome from SPACEXTBL where Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Count DESC

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBL
[SQL: select COUNT(*) as Count, Landing_Outcome from SPACEXTBL where Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Count DESC]
(Background on this error at: https://sqlalche.me/e/20/e3q8)